<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsciente llevo todos los días..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://URL-DE-UNA-IMAGEN.jpg" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &copy;
        </footer>
    </body>
</html>