<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <!-- pega aquí el iframe de YouTube -->
            </article>
            <article>
                <h3>Ubícanos</h3>
                <!-- pega aquí el iframe de Google Maps -->
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &copy;
        </footer>
    </body>
</html>
